main,section {
    width:1200px;
    margin:0 auto;
}
main{}
main h1 {
    font-size: 1.25rem;
    font-weight:600;
    margin-bottom:11px;
    margin-top:75px;
}

main .main_content {
    display: flex;
    gap: 20px;
}

main .main_img {
    background-color: pink;
    position: relative;
    width:460px;
    height:527px;
}

main .main_img .product_image {
    width: 100%;
    height: 100%;
    background-image: url('../images/001.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .main_img .like_btn {
    background-color: #fff;
    border-radius: 16px;
    border: solid 1px #000;
    position: absolute;
    top:13px;
    right:12px;
    z-index:10;
}

main .main_img .like_btn img {
    width:32px;
    height:32px;
    padding:3px 2px;
}

main .right_content {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:527px;
}

main .right_content .main_txt {
    margin-bottom:0;
}

main .right_content .main_txt h2 {
    font-size: 1.5rem;
    font-weight:600;
    margin-bottom: 9px;
}

main .right_content .main_txt p {
    font-size: 0.875rem;
    margin-bottom: 134px;
}

main .item {}
main .product {
    display:flex;
    gap:20px;
}

main .product_item {
    width:195px;
    height:338px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main .product_item .product_image {
    width: 223px;
    height: 262px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .product_item:nth-child(1) .product_image {
    background-image: url('../images/002.jpg');
}

main .product_item:nth-child(2) .product_image {
    background-image: url('../images/003.jpg');
}

main .product_item:nth-child(3) .product_image {
    background-image: url('../images/004.jpg');
}

main .product_item .brand {
    font-weight: 600;
    font-size: 0.9rem;
}

main .product_item .like_btn {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    padding: 0;
}

main .product_item .like_btn img {
    width: 24px;
    height: 24px;
}

main .product_item .product_name {
    font-size: 0.9rem;
    font-weight: 500;
}

main .product_item .discount {
    color: red;
    font-weight:700;
}

main .product_item .price {
    font-weight:600;
}

main .product_item .brand_like,
main .product_item .price_row {
    display: flex;
    align-items: center;
    gap: 6px;
}

section {
    margin-top: 100px;
}

section .section_header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:14px;
}

section .section_header h2 {
    font-size:1.25rem;
    font-weight:600;
    margin:0;
}

section .section_header .more_btn {
    border:none;
    font-weight:400;
    font-size:0.875rem;
}

section .item{
    
}
.brand_like,
.price_row {
    display: flex;
    align-items: center;
}
section .taste {
    display: flex;
    flex-wrap: nowrap;
}

section .taste_item {
    width: 195px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

section .taste_item .product_image {
    width:195px;
    height:262px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

section .taste_item:nth-child(1) .product_image {
    background-image: url('../images/005.jpg');
}

section .taste_item:nth-child(2) .product_image {
    background-image: url('../images/006.jpg');
}

section .taste_item:nth-child(3) .product_image {
    background-image: url('../images/007.jpg');
}

section .taste_item:nth-child(4) .product_image {
    background-image: url('../images/008.jpg');
}

section .taste_item:nth-child(5) .product_image {
    background-image: url('../images/009.jpg');
}

section .taste_item:nth-child(6) .product_image {
    background-image: url('../images/010.jpg');
}

section .taste_item .brand {
    font-weight: 600;
    font-size: 0.9rem;
}

section .taste_item .like_btn {
    align-self:flex-start;
    border:none;
    padding: 0;
}

section .taste_item .like_btn img {
    width: 24px;
    height: 24px;
}

section .taste_item .product_name {
    font-size: 0.9rem;
    font-weight: 500;
}

section .taste_item .discount {
    color: red;
    font-weight: 600;
}

section .taste_item .price {
    font-weight: 700;
}
